.footer {
	padding: 47px 65px;
	border-top: 1px solid #3e2f50;
	border-bottom: 1px solid #3e2f50;
	// .footer__inner
	&__inner {
		display: flex;
		justify-content: space-between;
		gap: 10px;
	}
	// .footer__left
	&__left {
		max-width: 210px;
		width: 100%;
	}
	// .footer__nav
	&__nav {
		display: flex;
		justify-content: space-between;
		gap: 70px;
	}
	// .footer__block
	&__block {
	}
	// .footer__title
	&__title {
		font-size: 14px;
		font-weight: 600;
		line-height: 21px;
		margin-bottom: 37px;
		text-transform: capitalize;
	}
	// .footer__list
	&__list {
		display: flex;
		flex-direction: column;
		gap: 32px;
	}
	// .footer__item
	&__item {
	}
	// .footer__link
	&__link {
		font-size: 12px;
		font-weight: 400;
		line-height: 18px;
		text-transform: capitalize;
	}
	// .footer__bottom
	&__bottom {
		padding: 24px 0 43px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	// .footer__bottom-left
	&__bottom-left {
	}
	// .footer__bottom-right
	&__bottom-right {
	}
	// .footer__coin-info
	&__coin-info {
		margin: 28px 0 36px;
		border: 1px solid #3e2f50;
		border-radius: 5px;
		background: #27193780;
		padding: 8px 0 9px 13px;
		display: flex;
		align-items: center;
		gap: 28px;
	}
	// .footer__social
	&__social {
	}
}

.footer-social {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	max-width: 173px;
	// .footer-social__item
	&__item {
		width: 32px;
		height: 32px;
		background-color: #271937;
		border-radius: 50%;
		padding: 9px 10px;
	}
	// .footer-social__link
	&__link {
	}
}
